<style>
    
    .labelLeft {
        margin-left: 30px;
        margin-bottom: 10px;
    }
    
    .labelRight {
        margin-right: 30px;
        margin-bottom: 10px;        
    }
    
    .template {
        background-color: white;
    }
    
    .square {
        border: 2px solid darkslategray;
        margin-bottom:120px;
        width: 100px;
        height: 100px; 
    }
    
    .drawing {
        border: 2px solid darkslategray;
        margin-top: 170px;
        height: 400px;        
    }
    
    .squareLeft {
        margin-left: 60px;
    }
    
    .circleLeft {
        margin-left: 105px;
        margin-bottom: 20px;
    }
    
    .squareRight {
        margin-left:20px;
    }
    
    .template6 {
        margin: 50px 100px;
    }
    
    .circle {
        border: 2px solid darkslategray;        
        width: 10px;
        height: 10px;
        border-radius: 5px;
    }
    
    .circleRight {
        margin-left: 60px;
        margin-bottom: 20px;
    }
    
</style>
 <div class="container">
  <div>
    <acme-navbar creation-date="main.creationDate"></acme-navbar>
  </div>

  <div class="jumbotron text-center">
      
      <div class="panel panel-default">
          <div 
            class="panel-body" 
            style="float: center;">
            
            <p class="lead">
                <img src="assets/images/checks.jpg" style="width: 726px; height: 370px; margin-left: 110px;" alt="Ampio"><br><br>
            </p>
            
            <div 
                class="page-header text-center" 
                style="border: 2px solid #f0ad4e; margin-bottom: 50px; margin-left: 10px; margin-right: 10px;">
                <h2>Krok trzeci : Podsumowanie</h2>
            </div>
          </div>
      </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <div>
                    <br>
                    <p class="lead bjorn">
                        Proszę sprawdzić, czy wszystkie informacje się zgadzają.
                    </p>
                    <p>Wybrany kolor: {{summary.AppState.common.chosenColor.color}}</p>
                    <p>Wybrany szablon: {{summary.AppState.common.chosenTemplate}}</p>
                    <p>Wybrany pokój: {{summary.AppState.common.room}}</p>
                    
                    <label 
                        for="chosenColor" 
                        class="col-md-6">
                            Wybrany kolor:
                    </label>
                    
                    <div 
                        name="chosenColor" 
                        class="btn col-md-6" 
                        style="background-color: {{summary.AppState.common.chosenColor.color}}">
                            {{summary.AppState.common.chosenColor.name}}
                    </div>
                    
                    <!--GRID-->
                    <!--pierwszy rzad-->
                </div>        
            </div>
        </div>
        
        <div class="panel panel-default">
            <div class="panel-body" style="background-color: {{summary.AppState.common.chosenColor.color}}">
                <div 
                    class="template6" 
                    style="background-color: {{summary.AppState.common.chosenColor.color}}">
                    
                    <div class="col-md-3">
                      <div class="labelLeft">{{summary.label1}} &nbsp</div>
                      <div class="circle circleLeft"></div>
                      <div class="square squareLeft" ng-class="summary.AppState.template6.elements[0].value"></div>
                      <div class="labelLeft">{{summary.label3}} &nbsp</div>
                      <div class="circle circleLeft"></div>
                      <div class="square squareLeft" ng-class="summary.AppState.template6.elements[2].value"></div>
                      <div class="labelLeft">{{summary.label5}}&nbsp</div>                      
                      <div class="circle circleLeft"></div>  
                      <div class="square squareLeft" ng-class="summary.AppState.template6.elements[4].value"></div>                          
                    </div>
                    
                    <div class="col-md-6">
                        <div class="drawing">&nbsp</div>
                    </div>
                    
                    <div class="col-md-3">
                        <div class="labelRight">{{summary.label2}} &nbsp</div>
                        <div class="circle circleRight"></div>
                        <div class="square squareRight" ng-class="summary.AppState.template6.elements[1].value"></div>
                        <div class="labelRight">{{summary.label4}} &nbsp</div>
                        <div class="circle circleRight"></div>
                        <div class="square squareRight" ng-class="summary.AppState.template6.elements[3].value"></div>
                        <div class="labelRight">{{summary.label6}} &nbsp</div>
                        <div class="circle circleRight"></div>  
                        <div class="square squareRight" ng-class="summary.AppState.template6.elements[5].value"></div> 
                    </div>
                </div>
            </div>
            
            <button class="btn col-md-2" style="margin-top: 15px;float:right; border: 2px solid #f0ad4e; background-color: white;"
                ng-click="summary.goToPersonalData()">Dalej
            </button>
            
            <button class="btn col-md-2" style="margin-top: 15px;float:left; border: 2px solid #f0ad4e; background-color: white;"
                ng-click="summary.goToTemplate6()">Wstecz
            </button>
        </div>
        
        
        
  </div>

</div>
