<style>
    .template {
        background-color: white;
    }
    
    .square {
        margin: 20px 100px;
        border-radius: 15px;
        border: 2px solid darkslategray;
        padding: 20px; 
        width: 100px;
        height: 100px; 
    }
    
    .kwadrat {
        border: 2px solid darkslategray;
        height:230px;        
    }
</style>

<div class="container">

  <div>
    <acme-navbar creation-date="main.creationDate"></acme-navbar>
  </div>

  <div class="jumbotron text-center">
      
      <div class="panel panel-default">
          <div 
            class="panel-body" 
            style="float: center;">
            
            <p class="lead">
                <img src="assets/images/checkBoxes.jpg" style="width: 726px; height: 370px; margin-left: 130px;" alt="Ampio"><br><br>
            </p>
            
            <div 
                class="page-header text-center" 
                style="border: 2px solid #f0ad4e; margin-bottom: 50px; margin-left: 10px; margin-right: 10px;">
                <h2>Krok trzeci : Podsumowanie</h2>
            </div>
          </div>
      </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <div>
                    <br>
                    <p class="lead">
                        Proszę sprawdzić, czy wszystkie informacje się zgadzają.
                    </p>
                    <p>Wybrany kolor: {{summary.AppState.common.chosenColor.color}}</p>
                    <p>Wybrany szablon: {{summary.AppState.common.chosenTemplate}}</p>
                    <p>Wybrany pokój: {{summary.AppState.common.room}}</p>
                    
                    <label 
                        for="chosenColor" 
                        class="col-md-6">
                            Wybrany kolor:
                    </label>
                    
                    <div 
                        name="chosenColor" 
                        class="btn col-md-6" 
                        style="background-color: {{summary.AppState.common.chosenColor.color}}">
                            {{summary.AppState.common.chosenColor.name}}
                    </div>
                    
                    <!--GRID-->
                    <!--pierwszy rzad-->
                </div>        
            </div>
        </div>
        
        <div class="panel panel-default">
            <div class="panel-body">
                <div 
                    class="template6" 
                    style="background-color: {{summary.AppState.common.chosenColor.color}}">
                    
                    <div class="row">
                        <div class="col-md-3 templateItem">
                            
                            <div class="square"></div>
                        </div>
                        <div class="col-md-6"><p>&nbsp</p></div>
                        <div class="col-md-3 templateItem">
                            <div class="square"></div>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-3 templateItem">
                            <div class="square"></div>
                        </div>
                        <div class="col-md-6"><div class="kwadrat"></div></div>
                        <div class="col-md-3 templateItem">
                            <div class="square"></div>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-3 templateItem">
                            <div class="square"></div>
                        </div>
                        <div class="col-md-6"><p>&nbsp</p></div>
                        <div class="col-md-3 templateItem">
                            <div class="square"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
  </div>

</div>
