<div class="container">

  <div>
    <acme-navbar creation-date="main.creationDate"></acme-navbar>
  </div>

  <div class="jumbotron text-center">
      <div class="panel panel-default">
        <div class="panel-body">
            <p class="lead">
                <img src="assets/images/form.jpg" style="width: 550px; height: 320px;" alt="Ampio">
            </p>
            <br><br><br><br><br>
            <div class="text-center" style="border: 2px solid #f0ad4e;margin-bottom: 20px; margin-top: -100px;">
                <h2>Krok piąty : formularz</h2>
            </div>
            
        </div>
      </div>
      
      
        <div class="panel panel-default">
        <div class="panel-body">
            <div style=" padding: 20px; background-color: #DDD;">
      <br>
        <p class="lead">
        <img src="assets/images/logoMain.png" style="width: 526px; height: 84px;" alt="Ampio"><br><br>
            Podaj dane
        </p>
    
       
        </div>
        </div>
        </div>
        
  </div>

</div>
