<div class="container">

  <div>
    <acme-navbar creation-date="main.creationDate"></acme-navbar>
  </div>

  <div class="jumbotron text-center">
      <div class="panel panel-default">
        <div class="panel-body">
            <p class="lead">
                <img src="assets/images/form.jpg" style="width: 550px; height: 320px;" alt="Ampio">
            </p>
            <br><br><br><br><br>
            <div class="text-center" style="border: 2px solid #f0ad4e;margin-bottom: 20px; margin-top: -100px;">
                <h2>Krok czwarty : formularz</h2>
            </div>
            
            <form ng-submit="personalData.onSubmit()" novalidate>
                <formly-form id="personal_data" model="personalData.model" fields="personalData.fields" form="personalDataForm" options="personalData.options">
                    <span class="fields">* Pola obowiązkowe</span>
                    <br>
                    <button type="submit" class="btn col-md-2" style="margin-top: 15px;float:right; border: 2px solid #f0ad4e; background-color: white;"ng-disabled="summary.personalDataForm.$invalid">Wyślij</button>        
                </formly-form>
            </form>
            <button class="btn col-md-2" style="margin-top: 15px;float:left; border: 2px solid #f0ad4e; background-color: white;"
            ng-click="personalData.goToSummary()">Wstecz
        </button>  
        </div>
      </div>
      
        
  </div>

</div>

<!-- Put custom templates here -->
    <script type="text/ng-template" id="my-messages.html">
      <formly-transclude></formly-transclude>
      <div class="my-messages" ng-messages="fc.$error" ng-if="options.formControl.$touched">
        <div class="some-message" ng-message="{{::name}}" ng-repeat="(name, message) in ::options.validation.messages">
          {{message(fc.$viewValue, fc.$modelValue, this)}}
        </div>
      </div>
    </script>

