<style>
    /* TODO do osobnych plikow styli to przeniesc*/
      .thumbnail { height: 280px !important; }
      .btn-droppable { width: 180px; height: 30px; padding-left: 4px; }
      .btn-draggable { width: 160px; }
      .emage { height: 215px; }
      .elements {
          padding: 20px;
      }
      .dropsy {
          /*background-color: lightgray;*/
      }
      .dropField {
          min-height: 100px;
      }
      
      .obrazek {
          background: url("assets/images/os1.png");
          height: 100px;    
          width: 100px
      }
      
      .cyf1 {
          background: url("assets/images/cyf1.png");
          height: 100px;
          width: 100px
      }
      .cyf2 {
          background: url("assets/images/cyf2.png");
          height: 100px;
          width: 100px
      }
      .cyf3 {
          background: url("assets/images/cyf3.png");
          height: 100px;
          width: 100px
      }
      .la1 {
          background: url("assets/images/la1.png");
          height: 100px;
          width: 100px
      }
      .la2 {
          background: url("assets/images/la2.png");
          height: 100px;
          width: 100px
      }
      
      .la3 {
          background: url("assets/images/la3.png");
          height: 100px;
          width: 100px
      }
      .la4 {
          background: url("assets/images/la4.png");
          height: 100px;
          width: 100px
      }
      .la5 {
          background: url("assets/images/la5.png");
          height: 100px;
          width: 100px
      }
      .la8 {
          background: url("assets/images/la8.png");
          height: 100px;
          width: 100px
      }
      .led1 {
          background: url("assets/images/led1.png");
          height: 100px;
          width: 100px
      }
      .led2 {
          background: url("assets/images/led2.png");
          height: 100px;
          width: 100px
      }
      
      .os1 {
          background: url("assets/images/os1.png");
          height: 100px;
          width: 100px
      }
      
      .os2 {
          background: url("assets/images/os2.png");
          height: 100px;
          width: 100px
      }
      
      .os3 {
          background: url("assets/images/os3.png");
          height: 100px;
          width: 100px
      }
      
      .os4 {
          background: url("assets/images/os4.png");
          height: 100px;
          width: 100px
      }
      
      .os5 {
          background: url("assets/images/os5.png");
          height: 100px;
          width: 100px
      }
      
      .r1 {
          background: url("assets/images/r1.png");
          height: 100px;
          width: 100px
      }
      
      .r3 {
          background: url("assets/images/r3.png");
          height: 100px;
          width: 100px
      }
      
      .r9 {
          background: url("assets/images/r9.png");
          height: 100px;
          width: 100px
      }
      
      .r11 {
          background: url("assets/images/r11.png");
          height: 100px;
          width: 100px
      }
      
      .r13 {
          background: url("assets/images/r13.png");
          height: 100px;
          width: 100px
      }
      
      .czerwony {
          background-color: red;
      }
      
      
      .colors {
			width:900px;
			margin:0 auto;
			overflow-y:auto;
			max-height: 434px;
		}
        
		.colors .col {
			display: inline;
			float: left;
			width: 11.5%;
			margin-left:1%;
			text-align: center;
		}

</style>

<div class="container" >

  <div>
    <acme-navbar creation-date="polowy6.creationDate"></acme-navbar>
  </div>

  <div class="jumbotron text-center" >
      <div class="panel panel-default">
          <div class="panel-body">
      <p class="lead">
      <img src="assets/images/measure.jpg" style="width: 426px; height: 170px;" alt="Ampio">
        </p>
      <div class="page-header text-center" style="border: 2px solid #f0ad4e;">
    <h2>Krok drugi : dopasowanie szablonu</h2>
      </div>
    
  


    </div>
    </div>
    
    <!-- element przeciagajacy-->
    
    
    <div class="container" style="padding: 0px;">
        <div class="panel panel-default">
          <div class="panel-body">
        <div class=col-md-12>
        <h3>Przeciągnij i upuść element w pożądanym miejscu: </h3>                        
        </div>
        <div class=col-md-12>
            Wybierz kategorię: <button name="palette" ng-click="polowy6.showDigits()"  class=" btn"><u>cyfry</u></button> <button name="palette" ng-click="polowy6.showLamps()"  class=" btn"><u>lampy</u></button> <button name="palette" ng-click="polowy6.showLeds()"  class=" btn"><u>ledy</u></button> <button name="palette" ng-click="polowy6.showOswietlenie()"  class=" btn"><u>oswietlenie</u></button> <button name="palette" ng-click="polowy6.showRolety()"  class=" btn"><u>rolety</u></button>
        </div>        
        
        <div class="cyfry" ng-show="polowy6.cyfry">
            <div class="col-md-3 elements">
                <div class="container form-inline" style="text-align: center;">
                    <div class="btn btn-droppable dropsy" style="width: 110px;height: 110px; border: solid 1px gray" ng-repeat="item in polowy6.cyf1" data-drop="true" ng-model='polowy6.cyf1' jqyoui-droppable="{index: {{$index}}}">
                        <div class="btn btn-info btn-draggable cyf1" data-drag="{{item.drag}}" data-jqyoui-options="{revert: 'invalid'}" ng-model="polowy6.cyf1" jqyoui-draggable="{index: {{$index}},placeholder:true,animate:true, onStart:'polowy6.startCallback(item, $index)', onStop: 'polowy6.stopCallback', onDrag: 'polowy6.dragCallback'}" ng-hide="!item.title">    
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-md-3 elements">
                <div class="container form-inline" style="text-align: center;">
                    <div class="btn btn-droppable dropsy" style="width: 110px;height: 110px; border: solid 1px gray" ng-repeat="item in polowy6.cyf2" data-drop="true" ng-model='polowy6.cyf2' jqyoui-droppable="{index: {{$index}}}">
                        <div class="btn btn-info btn-draggable cyf2" data-drag="{{item.drag}}" data-jqyoui-options="{revert: 'invalid'}" ng-model="polowy6.cyf2" jqyoui-draggable="{index: {{$index}},placeholder:true,animate:true, onStart:'polowy6.startCallback(item, $index)', onStop: 'polowy6.stopCallback', onDrag: 'polowy6.dragCallback'}" ng-hide="!item.title">    
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-md-3 elements">
                <div class="container form-inline" style="text-align: center;">
                    <div class="btn btn-droppable dropsy" style="width: 110px;height: 110px; border: solid 1px gray" ng-repeat="item in polowy6.cyf3" data-drop="true" ng-model='polowy6.cyf3' jqyoui-droppable="{index: {{$index}}}">
                        <div class="btn btn-info btn-draggable cyf3" data-drag="{{item.drag}}" data-jqyoui-options="{revert: 'invalid'}" ng-model="polowy6.cyf3" jqyoui-draggable="{index: {{$index}},placeholder:true,animate:true, onStart:'polowy6.startCallback(item, $index)', onStop: 'polowy6.stopCallback', onDrag: 'polowy6.dragCallback'}" ng-hide="!item.title">    
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="lampy" ng-show="polowy6.lampy">
            <div class="col-md-3 elements">
                <div class="container form-inline" style="text-align: center;">
                    <div class="btn btn-droppable dropsy" style="width: 110px;height: 110px; border: solid 1px gray" ng-repeat="item in polowy6.la1" data-drop="true" ng-model='polowy6.la1' jqyoui-droppable="{index: {{$index}}}">
                        <div class="btn btn-info btn-draggable la1" data-drag="{{item.drag}}" data-jqyoui-options="{revert: 'invalid'}" ng-model="polowy6.la1" jqyoui-draggable="{index: {{$index}},placeholder:true,animate:true, onStart:'polowy6.startCallback(item, $index)', onStop: 'polowy6.stopCallback', onDrag: 'polowy6.dragCallback'}" ng-hide="!item.title">    
                        </div>
                    </div>
                </div>
            </div>
        
            <div class="col-md-3 elements">
                <div class="container form-inline" style="text-align: center;">
                    <div class="btn btn-droppable dropsy" style="width: 110px;height: 110px; border: solid 1px gray" ng-repeat="item in polowy6.la2" data-drop="true" ng-model='polowy6.la2' jqyoui-droppable="{index: {{$index}}}">
                        <div class="btn btn-info btn-draggable la2" data-drag="{{item.drag}}" data-jqyoui-options="{revert: 'invalid'}" ng-model="polowy6.la2" jqyoui-draggable="{index: {{$index}},placeholder:true,animate:true, onStart:'polowy6.startCallback(item, $index)', onStop: 'polowy6.stopCallback', onDrag: 'polowy6.dragCallback'}" ng-hide="!item.title">    
                        </div>
                    </div>
                </div>
            </div>
        
            <div class="col-md-3 elements">
                <div class="container form-inline" style="text-align: center;">
                    <div class="btn btn-droppable dropsy" style="width: 110px;height: 110px; border: solid 1px gray" ng-repeat="item in polowy6.la3" data-drop="true" ng-model='polowy6.la3' jqyoui-droppable="{index: {{$index}}}">
                        <div class="btn btn-info btn-draggable la3" data-drag="{{item.drag}}" data-jqyoui-options="{revert: 'invalid'}" ng-model="polowy6.la3" jqyoui-draggable="{index: {{$index}},placeholder:true,animate:true, onStart:'polowy6.startCallback(item, $index)', onStop: 'polowy6.stopCallback', onDrag: 'polowy6.dragCallback'}" ng-hide="!item.title">    
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-md-3 elements">
            <div class="container form-inline" style="text-align: center;">
                <div class="btn btn-droppable dropsy" style="width: 110px;height: 110px; border: solid 1px gray" ng-repeat="item in polowy6.la8" data-drop="true" ng-model='polowy6.la8' jqyoui-droppable="{index: {{$index}}}">
                    <div class="btn btn-info btn-draggable la8" data-drag="{{item.drag}}" data-jqyoui-options="{revert: 'invalid'}" ng-model="polowy6.la8" jqyoui-draggable="{index: {{$index}},placeholder:true,animate:true, onStart:'polowy6.startCallback(item, $index)', onStop: 'polowy6.stopCallback', onDrag: 'polowy6.dragCallback'}" ng-hide="!item.title">    
                    </div>
                </div>
            </div>
        </div>
            
        </div>
        
        
        <div class="ledy" ng-show="polowy6.led">
        <div class="col-md-3 elements">
            <div class="container form-inline" style="text-align: center;">
                <div class="btn btn-droppable dropsy" style="width: 110px;height: 110px; border: solid 1px gray" ng-repeat="item in polowy6.led1" data-drop="true" ng-model='polowy6.led1' jqyoui-droppable="{index: {{$index}}}">
                    <div class="btn btn-info btn-draggable led1" data-drag="{{item.drag}}" data-jqyoui-options="{revert: 'invalid'}" ng-model="polowy6.led1" jqyoui-draggable="{index: {{$index}},placeholder:true,animate:true, onStart:'polowy6.startCallback(item, $index)', onStop: 'polowy6.stopCallback', onDrag: 'polowy6.dragCallback'}" ng-hide="!item.title">    
                    </div>
                </div>
            </div>
        </div>
        
        <div class="col-md-3 elements">
            <div class="container form-inline" style="text-align: center;">
                <div class="btn btn-droppable dropsy" style="width: 110px;height: 110px; border: solid 1px gray" ng-repeat="item in polowy6.led2" data-drop="true" ng-model='polowy6.led2' jqyoui-droppable="{index: {{$index}}}">
                    <div class="btn btn-info btn-draggable led2" data-drag="{{item.drag}}" data-jqyoui-options="{revert: 'invalid'}" ng-model="polowy6.led2" jqyoui-draggable="{index: {{$index}},placeholder:true,animate:true, onStart:'polowy6.startCallback(item, $index)', onStop: 'polowy6.stopCallback', onDrag: 'polowy6.dragCallback'}" ng-hide="!item.title">    
                    </div>
                </div>
            </div>
        </div>
        </div>
        
        <div class="oswietlenie" ng-show="polowy6.oswietlenie">
        
        <div class="col-md-3 elements">
            <div class="container form-inline" style="text-align: center;">
                <div class="btn btn-droppable dropsy" style="width: 110px;height: 110px; border: solid 1px gray" ng-repeat="item in polowy6.os1" data-drop="true" ng-model='polowy6.os1' jqyoui-droppable="{index: {{$index}}}">
                    <div class="btn btn-info btn-draggable os1" data-drag="{{item.drag}}" data-jqyoui-options="{revert: 'invalid'}" ng-model="polowy6.os1" jqyoui-draggable="{index: {{$index}},placeholder:true,animate:true, onStart:'polowy6.startCallback(item, $index)', onStop: 'polowy6.stopCallback', onDrag: 'polowy6.dragCallback'}" ng-hide="!item.title">    
                    </div>
                </div>
            </div>
        </div>
        
        <div class="col-md-3 elements">
            <div class="container form-inline" style="text-align: center;">
                <div class="btn btn-droppable dropsy" style="width: 110px;height: 110px; border: solid 1px gray" ng-repeat="item in polowy6.os2" data-drop="true" ng-model='polowy6.os2' jqyoui-droppable="{index: {{$index}}}">
                    <div class="btn btn-info btn-draggable os2" data-drag="{{item.drag}}" data-jqyoui-options="{revert: 'invalid'}" ng-model="polowy6.os2" jqyoui-draggable="{index: {{$index}},placeholder:true,animate:true, onStart:'polowy6.startCallback(item, $index)', onStop: 'polowy6.stopCallback', onDrag: 'polowy6.dragCallback'}" ng-hide="!item.title">    
                    </div>
                </div>
            </div>
        </div>
        
        <div class="col-md-3 elements">
            <div class="container form-inline" style="text-align: center;">
                <div class="btn btn-droppable dropsy" style="width: 110px;height: 110px; border: solid 1px gray" ng-repeat="item in polowy6.os3" data-drop="true" ng-model='polowy6.os3' jqyoui-droppable="{index: {{$index}}}">
                    <div class="btn btn-info btn-draggable os3" data-drag="{{item.drag}}" data-jqyoui-options="{revert: 'invalid'}" ng-model="polowy6.os3" jqyoui-draggable="{index: {{$index}},placeholder:true,animate:true, onStart:'polowy6.startCallback(item, $index)', onStop: 'polowy6.stopCallback', onDrag: 'polowy6.dragCallback'}" ng-hide="!item.title">    
                    </div>
                </div>
            </div>
        </div>
        
        <div class="col-md-3 elements">
            <div class="container form-inline" style="text-align: center;">
                <div class="btn btn-droppable dropsy" style="width: 110px;height: 110px; border: solid 1px gray" ng-repeat="item in polowy6.os4" data-drop="true" ng-model='polowy6.os4' jqyoui-droppable="{index: {{$index}}}">
                    <div class="btn btn-info btn-draggable os4" data-drag="{{item.drag}}" data-jqyoui-options="{revert: 'invalid'}" ng-model="polowy6.os4" jqyoui-draggable="{index: {{$index}},placeholder:true,animate:true, onStart:'polowy6.startCallback(item, $index)', onStop: 'polowy6.stopCallback', onDrag: 'polowy6.dragCallback'}" ng-hide="!item.title">    
                    </div>
                </div>
            </div>
        </div>
        </div>
        
      
        <div class="rolety" ng-show="polowy6.rolety">
        
        <div class="col-md-3 elements">
            <div class="container form-inline" style="text-align: center;">
                <div class="btn btn-droppable dropsy" style="width: 110px;height: 110px; border: solid 1px gray" ng-repeat="item in polowy6.r1" data-drop="true" ng-model='polowy6.r1' jqyoui-droppable="{index: {{$index}}}">
                    <div class="btn btn-info btn-draggable r1" data-drag="{{item.drag}}" data-jqyoui-options="{revert: 'invalid'}" ng-model="polowy6.r1" jqyoui-draggable="{index: {{$index}},placeholder:true,animate:true, onStart:'polowy6.startCallback(item, $index)', onStop: 'polowy6.stopCallback', onDrag: 'polowy6.dragCallback'}" ng-hide="!item.title">    
                    </div>
                </div>
            </div>
        </div>   
        
        <div class="col-md-3 elements">
            <div class="container form-inline" style="text-align: center;">
                <div class="btn btn-droppable dropsy" style="width: 110px;height: 110px; border: solid 1px gray" ng-repeat="item in polowy6.r3" data-drop="true" ng-model='polowy6.r3' jqyoui-droppable="{index: {{$index}}}">
                    <div class="btn btn-info btn-draggable r3" data-drag="{{item.drag}}" data-jqyoui-options="{revert: 'invalid'}" ng-model="polowy6.r3" jqyoui-draggable="{index: {{$index}},placeholder:true,animate:true, onStart:'polowy6.startCallback(item, $index)', onStop: 'polowy6.stopCallback', onDrag: 'polowy6.dragCallback'}" ng-hide="!item.title">    
                    </div>
                </div>
            </div>
        </div>
        
        <div class="col-md-3 elements">
            <div class="container form-inline" style="text-align: center;">
                <div class="btn btn-droppable dropsy" style="width: 110px;height: 110px; border: solid 1px gray" ng-repeat="item in polowy6.r9" data-drop="true" ng-model='polowy6.r9' jqyoui-droppable="{index: {{$index}}}">
                    <div class="btn btn-info btn-draggable r9" data-drag="{{item.drag}}" data-jqyoui-options="{revert: 'invalid'}" ng-model="polowy6.r9" jqyoui-draggable="{index: {{$index}},placeholder:true,animate:true, onStart:'polowy6.startCallback(item, $index)', onStop: 'polowy6.stopCallback', onDrag: 'polowy6.dragCallback'}" ng-hide="!item.title">    
                    </div>
                </div>
            </div>
        </div>
      
        
        <div class="col-md-3 elements">
            <div class="container form-inline" style="text-align: center;">
                <div class="btn btn-droppable dropsy" style="width: 110px;height: 110px; border: solid 1px gray" ng-repeat="item in polowy6.r13" data-drop="true" ng-model='polowy6.r13' jqyoui-droppable="{index: {{$index}}}">
                    <div class="btn btn-info btn-draggable r13" data-drag="{{item.drag}}" data-jqyoui-options="{revert: 'invalid'}" ng-model="polowy6.r13" jqyoui-draggable="{index: {{$index}},placeholder:true,animate:true, onStart:'polowy6.startCallback(item, $index)', onStop: 'polowy6.stopCallback', onDrag: 'polowy6.dragCallback'}" ng-hide="!item.title">    
                    </div>
                </div>
            </div>
        </div>
        </div>
        </div>
        </div>
         
    </div>
    
    <div>
        <div class="panel panel-default">
          <div class="panel-body">
        <!-- SIATECZKA 3x2, pola droppable-->
        <div class="container" style="border: 2px solid gray; padding: 50px; ">
            <div class="row">
            <div class="col-sm-4">
                <input style="margin:10px" type="text" value="element1" ng-model="polowy6.label1">
                
                <div ng-repeat="elem in polowy6.elem1">     
                    <div>
                        <div class="btn btn-droppable dropsy dropField"
                        style="width: 110px;height: 110px; border: solid 1px gray"   data-drop="true" ng-model='polowy6.elem1' jqyoui-droppable="{index: {{$index}}, onDrop:'polowy6.dropCallback', onOver: 'polowy6.overCallback', onOut: 'polowy6.outCallback'}">
                            <!--{{polowy6.elem1[$index].title}}-->
                            <div class="btn btn-info btn-draggable" ng-class="polowy6.dropped1" ng-show="polowy6.elem1[$index].title" data-drag="{{polowy6.elem1[$index].drag}}" data-jqyoui-options="{revert: 'invalid'}" ng-model="polowy6.elem1" jqyoui-draggable="{index: {{$index}},placeholder:true,animate:true}">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <input style="margin:10px" type="text" value="element2" ng-model="polowy6.label2">
                <div ng-repeat="elem in polowy6.elem2">     
                    <div>
                        <div class="btn btn-droppable dropsy dropField" style="width: 110px;height: 110px; border: solid 1px gray" data-drop="true" ng-model='polowy6.elem2' jqyoui-droppable="{index: {{$index}}, onDrop:'polowy6.dropCallback', onOver: 'polowy6.overCallback', onOut: 'polowy6.outCallback'}">
                            <div class="btn btn-info btn-draggable" ng-class="polowy6.dropped2" ng-show="polowy6.elem2[$index].title" data-drag="{{polowy6.elem2[$index].drag}}" data-jqyoui-options="{revert: 'invalid'}" ng-model="polowy6.elem2" jqyoui-draggable="{index: {{$index}},placeholder:true,animate:true}">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <input style="margin:10px" type="text" value="element3" ng-model="polowy6.label3">
                <div ng-repeat="elem in polowy6.elem3">     
                    <div>
                        <div class="btn btn-droppable dropsy dropField" style="width: 110px;height: 110px; border: solid 1px gray" data-drop="true" ng-model='polowy6.elem3' jqyoui-droppable="{index: {{$index}}, onDrop:'polowy6.dropCallback', onOver: 'polowy6.overCallback', onOut: 'polowy6.outCallback'}">
                            <div class="btn btn-info btn-draggable" ng-class="polowy6.dropped3" ng-show="polowy6.elem3[$index].title" data-drag="{{polowy6.elem3[$index].drag}}" data-jqyoui-options="{revert: 'invalid'}" ng-model="polowy6.elem3" jqyoui-draggable="{index: {{$index}},placeholder:true,animate:true}">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4" style="border: 2px solid gray; height: 155px;"></div>
            <div class="col-sm-4" >
                <input style="margin:10px" type="text" value="element4" ng-model="polowy6.label4">
                <div ng-repeat="elem in polowy6.elem4">     
                    <div>
                        <div class="btn btn-droppable dropsy dropField" style="width: 110px;height: 110px; border: solid 1px gray" data-drop="true" ng-model='polowy6.elem4' jqyoui-droppable="{index: {{$index}}, onDrop:'polowy6.dropCallback', onOver: 'polowy6.overCallback', onOut: 'polowy6.outCallback'}">
                            <div class="btn btn-info btn-draggable" ng-class="polowy6.dropped4" ng-show="polowy6.elem4[$index].title" data-drag="{{polowy6.elem4[$index].drag}}" data-jqyoui-options="{revert: 'invalid'}" ng-model="polowy6.elem4" jqyoui-draggable="{index: {{$index}},placeholder:true,animate:true}">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <input style="margin:10px" type="text" value="element5" ng-model="polowy6.label5">
                <div ng-repeat="elem in polowy6.elem5">     
                    <div>
                        <div class="btn btn-droppable dropsy dropField" style="width: 110px;height: 110px; border: solid 1px gray" data-drop="true" ng-model='polowy6.elem5' jqyoui-droppable="{index: {{$index}}, onDrop:'polowy6.dropCallback', onOver: 'polowy6.overCallback', onOut: 'polowy6.outCallback'}">
                            <div class="btn btn-info btn-draggable" ng-class="polowy6.dropped5" ng-show="polowy6.elem5[$index].title" data-drag="{{polowy6.elem5[$index].drag}}" data-jqyoui-options="{revert: 'invalid'}" ng-model="polowy6.elem5" jqyoui-draggable="{index: {{$index}},placeholder:true,animate:true}">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <input style="margin:10px" type="text" value="element6" ng-model="polowy6.label6">
                <div ng-repeat="elem in polowy6.elem6">     
                    <div>
                        <div class="btn btn-droppable dropsy dropField" style="width: 110px;height: 110px; border: solid 1px gray" data-drop="true" ng-model='polowy6.elem6' jqyoui-droppable="{index: {{$index}}, onDrop:'polowy6.dropCallback', onOver: 'polowy6.overCallback', onOut: 'polowy6.outCallback'}">
                            <div class="btn btn-info btn-draggable" ng-class="polowy6.dropped6" ng-show="polowy6.elem6[$index].title" data-drag="{{polowy6.elem6[$index].drag}}" data-jqyoui-options="{revert: 'invalid'}" ng-model="polowy6.elem6" jqyoui-draggable="{index: {{$index}},placeholder:true,animate:true}">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        </div>
        <button class="btn col-md-2" style="margin-top: 15px;float:right; border: 2px solid #f0ad4e; background-color: white;"
            ng-click="polowy6.goToThankYouPage()">Dalej
        </button>
        
        <button class="btn col-md-2" style="margin-top: 15px;float:left; border: 2px solid #f0ad4e; background-color: white;"
            ng-click="polowy6.goToKrok1Kolor()">Wstecz
        </button>
        
</div>
</div>
    </div>
  </div>

</div>
