<div class="container">

  <div>
    <acme-navbar creation-date="main.creationDate"></acme-navbar>
  </div>

  <div class="jumbotron text-center">
      <div class="panel panel-default">
        <div class="panel-body">
            <p class="lead">
                <img src="assets/images/handshake2.png" style="width: 926px; height: 520px;" alt="Ampio">
            </p>
            
            <div class="text-center" style="border: 2px solid #f0ad4e;margin-bottom: 20px; margin-top: -100px;">
            <h2>Krok piąty : Podziękowanie</h2>
        </div>
        </div>
      
      </div>
      
        <div class="panel panel-default">
        <div class="panel-body">
            <div style=" padding: 20px; background-color: #DDD;">
      <br>
        <p class="lead">
        <img src="assets/images/logoMain.png" style="width: 526px; height: 84px;" alt="Ampio"><br><br>
            Zakończyłeś proces konfiguracji.
        </p>
    
        <p>
        Formularz został wysłany. Dziękujemy!
        </p>
        
        <p>Oto wykonany przez nas przykładowy panel: </p>
        <img src="assets/images/panel6gotowy.png" style="width: 250px; height: 330px;" alt="Ampio"><br><br>
        
        <p>
        <button type="button" class="btn btn-lg btn-warning" ng-click="podziekowanie.goToAmpio()">Zapraszamy do zapoznania się z innymi produktami Ampio</button>
        </p>
        
        <!--<br><br><br><br><br><br>
        
        <p>
        Projekt powstał w wyniku współpracy z <acme-malarkey extra-values="['Michałem Szczepaniakiem.', 'Michałem Kruszewiczem.', 'Ampio Smart Home ©']"></acme-malarkey>
        </p>-->
        </div>
        </div>
        </div>
        
  </div>

</div>
