<div class="container">

  <div>
    <acme-navbar creation-date="main.creationDate"></acme-navbar>
  </div>

  <div class="jumbotron text-center">
      <div class="panel panel-default">
        <div class="panel-body">
            <p class="lead">
                <img src="assets/images/handshake2.png" style="width: 926px; height: 520px;" alt="Ampio">
            </p>
        </div>
      
        <div class="text-center" style="border: 5px solid #f0ad4e; margin-left: 15px; margin-right: 15px; margin-bottom: 20px;">
            <h2 style="padding-top: 10px;">Krok trzeci : Podziękowanie</h2>
        </div>
      
      </div>
    
      <br>
        <p class="lead">
        <img src="assets/images/logoMain.png" style="width: 526px; height: 84px;" alt="Ampio"><br><br>
            Zakończyłeś proces konfiguracji.
        </p>
    
        <p>
        Formularz został wysłany. Dziękujemy!
        </p>
        
        <p>
        <button type="button" class="btn btn-lg btn-warning" ng-click="goToAmpio()">Zapraszamy do zapoznania się z innymi produktami Ampio</button>
        </p>
        
        <br><br><br><br><br><br>
        
        <p>
        Projekt powstał w wyniku współpracy z <acme-malarkey extra-values="['Michałem Szczepaniakiem.', 'Michałem Kruszewiczem.', 'Ampio Smart Home ©']"></acme-malarkey>
        </p>
  </div>

</div>
